.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicletas-lista h2 {
  margin-bottom: 40px;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

#bicicleta .bicicletas-lista ul {
  padding: 40px 60px;
  background-color: var(--cor2);
}

.bicicletas-lista li {
  flex: 1;
  min-width: 280px;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 16px;
}

.bicicletas-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  position: relative;
}

.bicicletas-lista h3::before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: -10px;
  border-radius: 50%;
  background-color: var(--corp1);
  z-index: -1;
}

.bicicletas-lista li:hover {
  transform: scale(1.02);
  transition: 1.8s;
  cursor: grab;
}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }

  .bicicletas-lista ul {
    gap: 20px;
  }
}
