.vantagens-bg {
  background-color: var(--cor12);
}

.vantagens {
  padding-top: 120px;
  padding-bottom: 120px;
}

.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 20px;
}

.vantagens h3,
.vantagens img {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .vantagens-bg {
    background-color: var(--cor11);
  }

  .vantagens {
    padding: 30px;
    padding-bottom: 30px;
  }

  .vantagens h2 {
    margin-bottom: 5 0px;
  }

  .vantagens ul {
    gap: 20px;
    grid-template-columns: 1fr;
  }
}
